.MainContainer {
    border-style: solid;
    border: black;
    justify-content: left;
    height: 30rem;
    font-size: 3rem;
    background-color:olive;
}

.Content {
    display: flex;
    border-style: solid;
    border-color: red;
    height: 100rem;
    
}

.Left {
    display: block;
    border-style: solid;
    border-color:green;
    flex-grow: 1;
    font-size: 3rem;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: lightgray;
    
}

.Center {
    display:block;
    border-style: solid;
    border-color: blue;
    flex-grow: 2;
    font-size: 3rem;
    background-color: lightgray;
}

.Right {
    display:block;
    border-style: solid;
    border-color: yellow;
    flex-grow: 1;
    font-size: 3rem;
    background-color: lightgray;
}

.small {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.first {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    align-content: center;
}

.image {
    display:  flex;
    flex-direction: column; 
    justify-content: center;
}

.image img {
    padding: 2rem;
    display: flex;
    width: 4rem;
}

.first img {
    width: 10rem;
    height: 8rem;
}

.middle img {
    width:20rem;
    height: 17rem;
    padding: 1rem;
}

.middle {
    border-style: solid;
    border-color: cadetblue;
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}


nav {
    display: flex;
    border-style: solid;
    justify-content: space-around;
}

p {
    padding: 0.2rem;
    font-size: 1rem;

}





